body {
  margin: 0;
  padding: 0;
  background-color: cornsilk;
  cursor: default;
}

body > header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 150px;
  border-bottom: 2px solid black;
  background-color: #fffbfb;
}

body > header > div {
  font-size: 40px;
  font-weight: bold;
  padding: 0px 10px;
}

.addbookbtn,
#delete-all-btn {
  border-radius: 8px;
  padding: 12px 28px;
  font-size: medium;
}

main > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addbookbtnform,
#editbookbtnform {
  border-radius: 8px;
  padding: 10px 15px;
}

#top-header {
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
}

.modal-box-content > header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 25px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal,
.edit-modal,
.confirm-delete-modal,
.confirm-delete-all-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-box-content,
#confirm-box-content {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 45%;
  transform: translate(-50%, -50%);
  height: 50%;
  border: 5px solid black;
  background-color: antiquewhite;
  overflow: scroll;
}

#confirm-box-content {
  width: 30%;
  height: 20%;
}

#confirm-box-content > header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 25px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 35px;
}

.close-icon:hover {
  color: red;
}

.buttons, .delete-all-yn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons > button, .delete-all-yn > button {
  padding: 10px 25px;
  font-size: medium;
  border-radius: 4px;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 25px;
}

#book-name,
#edit-book-name {
  width: 60%;
}

label {
  font-weight: bold;
  font-size: medium;
}

input {
  margin-bottom: 15px;
}

.books {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 20px;
}

.books > div {
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fef2f2;
  border-radius: 8px;
}

.book-title {
  font-weight: bold;
  font-size: large;
}

.outer-progress,
.inner-progress {
  border-radius: 4px;
}

.icon-bar > i:first-child:hover {
  color: red;
}

.icon-bar > i:nth-child(2):hover,
.icon-bar > i:nth-child(3):hover {
  color: green;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  font-size: large;
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  #confirm-box-content {
    width: 70%;
    height: 30%;
  }
  .modal-box-content{
    width: 80%;
    height: 80%;
  }
  .books {
    justify-content: center;
  }
}
